doctype html
html
	head
		title Map in Map
		//- include ../j_piece/inheader
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")

		script(type="text/javascript", src="../lib/js/prelude-browser-min.js")
		script(type="text/javascript", src="../lib/js/d3.min.js")
		


	
	body
		div#table
		
		script(type="text/javascript", src="./js/stats.js")
		